<div class="ask-for-payment">
    <span
        class="ask-for-payment__title">Создайте платёжку, а {{ company.name }} подпишет её у себя в интернет-банке</span>
    <form class="payment-form payment-form_layout-grid" [formGroup]="this.askPayment">
        <label class="payment-form__label payment-form__label_layout-grid" for="askWho">ИНН получателя</label>
        <input
            class="payment-form__input payment-form__input_layout-grid"
            id="askWho"
            type="text"
            formControlName="askWho"
            placeholder="ИНН или название плательщика">
        <label class="payment-form__label payment-form__label_layout-grid" for="askBIK">БИК</label>
        <input
            class="payment-form__input payment-form__input_layout-grid"
            id="askBIK"
            type="text"
            formControlName="askBIK">
        <label class="payment-form__label payment-form__label_layout-grid" for="askNumber">Номер счёта</label>
        <input
            class="payment-form__input payment-form__input_layout-grid"
            id="askNumber"
            type="text"
            formControlName="askNumber">
        <label class="payment-form__label payment-form__label_layout-grid" for="askNDS">За что</label>
        <input
            class="payment-form__input payment-form__input_layout-grid"
            id="askNDS"
            type="text"
            formControlName="askNDS">
        <label class="payment-form__label payment-form__label_layout-grid" for="askAmount">Сколько</label>
        <input
            class="payment-form__input payment-form__input_size_s"
            id="askAmount"
            type="text"
            formControlName="askAmount">
        <label class="payment-form__label payment-form__label_layout-grid" for="askTel">Номер телефона</label>
        <input
            class="payment-form__input payment-form__input_size_s"
            id="askTel"
            type="tel"
            formControlName="askTel"
            placeholder="+ 7">
        <label class="payment-form__label payment-form__label_layout-grid" for="askEmail">Эл. почта</label>
        <input
            class="payment-form__input payment-form__input_size_m"
            id="askEmail"
            type="email"
            formControlName="askEmail"
            placeholder="Для уведомлений об оплате">
        <div
            class="payment-form__button-container
                   payment-form__button-container_size_m
                   payment-form__button-container__layout-grid"
            [class.payment-form__button-container_disabled]="this.askPayment.invalid">
            <span class="payment-form__bg"></span>
            <button class="payment-form__button" type="submit" [disabled]="this.askPayment.invalid" (click)="onSubmit()">
                Создать платёж
            </button>
        </div>
    </form>
</div>
