<div class="card-payment">
    <form class="payment-form" [formGroup]="this.cardPayment" (ngSubmit)="onSubmit()">
        <div class="card-payment__item card-info card-info_size_m" formGroupName="cardInfo">
            <div class="card-info__icon-list">
                <span class="card-info__icon-item card-info__visa"></span>
                <span class="card-info__icon-item card-info__maestro"></span>
                <span class="card-info__icon-item card-info__mc"></span>
            </div>
            <input
                class="card-info__number payment-form__input"
                type="text"
                formControlName="cardNumber"
                placeholder="Номер карты">
            <input
                class="card-info__expires payment-form__input"
                type="text"
                formControlName="cardExpires"
                placeholder="ММ/ГГ">
            <input
                class="card-info__cvc payment-form__input"
                type="text"
                formControlName="cardCVC"
                placeholder="CVC">
        </div>
        <div class="card-payment__item payment-info" formGroupName="paymentInfo">
            <label class="payment-form__label" for="paymentAmount">Сумма</label>
            <input
                class="payment-info__amount payment-form__input"
                id="paymentAmount"
                type="text"
                formControlName="paymentAmount"
                placeholder="от 1000 до 75000">
            <label class="payment-form__label" for="paymentComment">Комментарий</label>
            <input
                class="payment-info__comment payment-form__input"
                id="paymentComment"
                type="text"
                formControlName="paymentComment"
                placeholder="До 150 символов">
            <label class="payment-form__label" for="paymentEmail">Ваша эл. почта</label>
            <input
                class="payment-info__email payment-form__input"
                id="paymentEmail"
                type="email"
                formControlName="paymentEmail"
                placeholder="Для квитанции об оплате">
            <div
                class="payment-form__button-container payment-form__button-container_size_s"
                [class.payment-form__button-container_disabled]="this.cardPayment.invalid">
                <span class="payment-form__bg"></span>
                <button class="payment-form__button" type="submit" [disabled]="this.cardPayment.invalid">
                    Заплатить
                </button>
            </div>
        </div>
    </form>
</div>
