.card-payment__item
{
    margin-right: 50px;
}

.card-info
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "icons icons" "number number" ". .";

    padding: 15px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 10px 12px 1px #ccc;
}

.card-info_size_m
{
    width: 350px;
    height: 175px;
}

.card-info__icon-list
{
    grid-area: icons;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.card-info__icon-item
{
    width: 55px;
    height: 55px;

    background-size: 100% 100%;
}

.card-info__visa
{
    background-image: url(/src/assets/card-icons/visa.svg);
}

.card-info__maestro
{
    background-image: url(/src/assets/card-icons/maestro.svg);
}

.card-info__mc
{
    background-image: url(/src/assets/card-icons/mastercard.svg);
}

.card-info__number
{
    grid-area: number;
    width: 180px;
}

.card-info__expires
{
    width: 78px;
}

.card-info__cvc
{
    width: 62px;
}

.payment-info
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;

    margin-top: 10px;
}

.payment-info .payment-form__input-container
{
    min-width: 170px;
}

@media (max-width: 1390px)
{
    .payment-form
    {
        flex-flow: column nowrap;
    }

    .card-info,
    .payment-info
    {
        margin: 0 auto;
    }

    .payment-info
    {
        margin-top: 40px;
    }
}

@media (max-width: 550px)
{
    .payment-info
    {
        display: flex;
        flex-flow: column nowrap;
    }

    .card-info
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "icons" "number" "." ".";

        width: 97%;

        min-width: 180px;
    }

    .card-info .payment-form__input
    {
        margin-top: 0;
        margin-bottom: 0;
    }
}
