<a class="company-promotion__item company-promotion__item_size_s">
    <div class="company-promotion__image-container company-promotion__image-container_size_s">
        <img class="company-promotion__image" src="assets/promotions/{{ promotion.imagePath }}"
             alt="{{ promotion.imagePath }}">
    </div>
    <div class="company-promotion__header company-promotion__text">
        {{ promotion.title }}
    </div>
    <div class="company-promotion__price company-promotion__text">
        {{ promotion.price }}
    </div>
</a>
