<div class="ask-for-payment">
    <span class="ask-for-payment__title">Создайте платёжку, а {{ company.name }} подпишет её у себя в интернет-банке</span>
    <form class="payment-form payment-form_layout-grid">
        <label class="payment-form__label payment-form__label_layout-grid" for="iPaymentWho">ИНН получателя</label>
        <input class="payment-form__input payment-form__input_layout-grid" id="iPaymentWho" type="text" name="askWho" placeholder="ИНН или название плательщика">
        <label class="payment-form__label payment-form__label_layout-grid" for="iPaymentBIK">БИК</label>
        <input class="payment-form__input payment-form__input_layout-grid" id="iPaymentBIK" type="text" name="askBIK">
        <label class="payment-form__label payment-form__label_layout-grid" for="iPaymentNumber">Номер счёта</label>
        <input class="payment-form__input payment-form__input_layout-grid" id="iPaymentNumber" type="text" name="askNumber">
        <label class="payment-form__label payment-form__label_layout-grid" for="iPaymentNDS">За что</label>
        <input class="payment-form__input payment-form__input_layout-grid" id="iPaymentNDS" type="text" name="askNDS">
        <label class="payment-form__label payment-form__label_layout-grid" for="iPaymentAmount">Сколько</label>
        <input class="payment-form__input payment-form__input_size_s" id="iPaymentAmount" type="text" name="askAmount">
        <label class="payment-form__label payment-form__label_layout-grid">Номер телефона</label>
        <input class="payment-form__input payment-form__input_size_s" type="text" placeholder="+ 7">
        <label class="payment-form__label payment-form__label_layout-grid">Эл. почта</label>
        <input class="payment-form__input payment-form__input_size_m" type="email" placeholder="Для уведомлений об оплате">
        <div class="payment-form__button-container payment-form__button-container_size_m payment-form__button-container__layout-grid">
            <span class="payment-form__bg"></span>
            <button class="payment-form__button" type="button">
                Создать платёж
            </button>
        </div>
    </form>
</div>
