<div class="internet-bank__item internet-bank__item_delimiter_bottom">
    <ul class="nav-link-list">
        <li
            class="nav-link-list__item nav-link-list__item_major"
            routerLink="pay"
            routerLinkActive="nav-link-list__item_active">
            Заплатить
        </li>
        <li
            class="nav-link-list__item nav-link-list__item_major"
            routerLink="ask"
            routerLinkActive="nav-link-list__item_active">
            Запросить платёж
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
