<div>
    <ul class="nav-link-list">
        <li
            class="nav-link-list__item nav-link-list__item_minor nav-link-list__item_bg_gray"
            routerLink="card"
            routerLinkActive="nav-link-list__item_active">
            С карты любого банка
        </li>
        <li
            class="nav-link-list__item nav-link-list__item_minor nav-link-list__item_bg_gray"
            routerLink="bank-payment"
            routerLinkActive="nav-link-list__item_active">
            Из своего интернет-банка
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
