.payment-form
{
    display: flex;
    flex-flow: row wrap;
}

.payment-form_layout-grid
{
    margin-top: 25px;
    display: grid;
    grid-template-columns: minmax(max-content, 300px) 70%;
    row-gap: 20px;
}

.payment-form__button-container__layout-grid
{
    grid-column: 1 / 3;
}

.payment-form__input_layout-grid
{
    max-width: 500px;
}

.payment-form__label_layout-grid
{
    max-width: 140px;
}

.payment-form__input
{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    margin-bottom: 20px;
    height: 25px;
    font-size: 15px;

    background-color: inherit;
    transition: border .4s;
}

.payment-form__input::placeholder
{
    font-size: 15px;
    font-weight: bold;
    opacity: .6;
}

.payment-form__input:focus
{
    outline: none;
}

.payment-form__label
{
    font-weight: bold;
}

.payment-form__button
{
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
}

.payment-form__button-container
{
    position: relative;
    display: flex;
    justify-content: center;

    opacity: .6;
    transition: opacity .3s;
}

.payment-form__button-container:hover
{
    opacity: 1;
}

.payment-form__button-container_size_s
{
    width: 140px;
    height: 52px;
}

.payment-form__button-container_size_l
{
    width: 280px;
    height: 40px;
}

.payment-form__button-container_size_m
{
    width: 160px;
    height: 50px;
}

.payment-form__bg
{
    position: absolute;
    top: 0;
    left: -10px;
    right: 0;
    bottom: -8px;

    background: url(/src/assets/button_1.png) left 5px no-repeat;
    background-size: 100% 100%;
}

.payment-form__button-container::after
{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    display: block;
    height: 30%;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    border-color: #000;

    transition: border .3s;
}

.payment-form__button-container_disabled
{
    /*
        TODO: Add styles for disabled button
    */
}

.payment-form__button-container_disabled:hover
{
    opacity: .6;
}

.payment-form__button-container::before
{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 30%;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: #000;

    transition: border .3s;
}

.payment-form__button
{
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.payment-form__button:focus
{
    outline: none;
}

.payment-form__button:disabled
{
    color: initial;
    cursor: default;
}

.payment-form__input_size_s
{
    max-width: 150px;
}

.payment-form__input_size_m
{
    max-width: 220px;
}

.payment-form__input.ng-valid.ng-touched
{
    border-color: #7fad74;
}

.payment-form__input.ng-invalid.ng-touched
{
    border-color: #ff7160;
}

