.company-info__header
{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.company-info__name
{

}

.company-promotion
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
